#containerCenter{
   display:flex;
   justify-content: center;
}
body {
    background-image:
    linear-gradient( rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)),
    url(../Resources/image5.jpg);
    background-size: cover;
    color:black;
    padding: 20px;
  }